html, body {
  background: url(background.png) repeat center center fixed;
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  text-align: center;
}

#login{
  height: 30px;
  width: 100%;
  background: #B22222;
  font-size: 12pt;
  text-align: right;
  margin: 0 0 1em 0;
}

#login input{
  margin-right: 0.3em;
}


th {
  text-align: center;
  vertical-align: middle;
  background-color: #B22222;
  color: white;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 14px; 
}