html, body {
  background: url(background.png) repeat center center fixed;
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  font-family: 14px Calibre, sans-serif;
}

#wrapper {
	min-height:95%;
	position:relative;
}

#login{
  height: 30px;
  width: 100%;
  background: #B22222;
  font-size: 12pt;
  text-align: right;
  margin: 0 0 1em 0;
}

#login input{
  margin-right: 0.3em;
}

#content {
	padding-bottom:0;
}

#footer{
	width:98%;
	height:20px;
    position: absolute; 
    bottom: 0; 
    left: 4px; 
    right: 4px;
}